.message_item {
  display: flex;
  gap: 5px;
  width: 80%;
  .logo {
    display: flex;
    flex-shrink: 0;
  }
  .msg_text {
    display: flex;
    flex-direction: column;
    gap: 5px;
    .text_msg {
      color: var(--color-white);
      background-color: var(--dark-msg);

      padding: 5px 20px;
      border-radius: 20px;
    }
    .date {
      padding: 0 10px;
      font-size: 12px;
      color: var(--dark-msg);
    }
  }
}
.own_message {
  align-self: end;
  display: flex;
  justify-content: end;
  .msg_text {
    align-items: end;
    .text_msg {
      color: var(--primary-color);
      background-color: var(--dark-bgc);
    }
  }
}
